Source: roundcubemail
Section: web
Priority: extra
Maintainer: Debian Roundcube Maintainers <pkg-roundcube-maintainers@lists.alioth.debian.org>
Uploaders: Vincent Bernat <bernat@debian.org>, Romain Beauxis <toots@rastageeks.org>, Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>, Paul Klos <kolab@klos2day.nl>, Diane Trout <diane@ghic.org>
Build-Depends: debhelper (>= 8)
Homepage: http://www.roundcube.net/
Standards-Version: 3.9.3
Vcs-Git: git://git.kolabsys.com/git/apt/roundcubemail/
Vcs-Browser: http://git.kolabsys.com/apt/roundcubemail/

Package: roundcubemail
Architecture: all
Depends:	ucf,
		apache2 | httpd,
		php-auth,
		php-mail-mime (>= 1.8.0),
		php-mdb2 (>= 2.5.0),
		php-net-smtp,
		php-net-socket,
		php5 | php5-fpm,
		php5-cli,
		php5-gd,
		php5-mcrypt,
		php5-pspell,
		php5-intl,
	        php5-ldap,
		libmagic1,
		${misc:Depends}
Replaces: roundcube, roundcube-core, roundcube-mysql, roundcube-pgsql, roundcube-plugins
Conflicts: roundcube, roundcube-core, roundcube-mysql, roundcube-pgsql, roundcube-plugins
Provides: roundcube, roundcube-core, roundcube-mysql, roundcube-pgsql, roundcube-plugins
Description: skinnable AJAX based webmail solution for IMAP servers
 RoundCube Webmail is a browser-based multilingual IMAP client with an
 application-like user interface. It provides full functionality
 expected from an e-mail client, including MIME support, address book,
 folder manipulation and message filters.
 .
 The user interface is fully skinnable using XHTML and CSS 2.
 .
 This package provides the core code for roundcube. You should install
 it along with one of the roundcube database metapackages.
